
<div id="gallery" class="container gallery-list">
  <div class="row">
    <div class="col-xs-12">
      <h2>Гараж</h2>
    </div>
    <div class="col-xs-12">
      <h3 class="gallery-list__heading">Эконом класс</h3>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="gallery-list__env">
        <div data-remodal-target="gallery-modal" class="gallery-list__item"><img src="../img/porsche.jpg" alt="cars" class="gallery-list__img"/>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>25 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="gallery-list__env">
        <div data-remodal-target="gallery-modal" class="gallery-list__item"><img src="../img/tesla.jpg" alt="cars" class="gallery-list__img"/>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>30 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12">
      <h3 class="gallery-list__heading">Минивэн</h3>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="gallery-list__env">
        <div data-remodal-target="gallery-modal" class="gallery-list__item"><img src="../img/bmw.jpg" alt="cars" class="gallery-list__img"/>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>50 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="gallery-list__env">
        <div data-remodal-target="gallery-modal" class="gallery-list__item"><img src="../img/jaguar-xe.jpg" alt="cars" class="gallery-list__img"/>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>60 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12">
      <h3 class="gallery-list__heading">4 x 4</h3>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="gallery-list__env">
        <div data-remodal-target="gallery-modal" class="gallery-list__item"><img src="../img/tesla.jpg" alt="cars" class="gallery-list__img"/>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>75 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="gallery-list__env">
        <div data-remodal-target="gallery-modal" class="gallery-list__item"><img src="../img/porsche.jpg" alt="cars" class="gallery-list__img"/>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>95 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12">
      <h3 class="gallery-list__heading">Бизнес Класс</h3>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="gallery-list__env">
        <div data-remodal-target="gallery-modal" class="gallery-list__item"><img src="../img/porsche.jpg" alt="cars" class="gallery-list__img"/>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>25 долл/день</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="gallery-list__env">
        <div data-remodal-target="gallery-modal" class="gallery-list__item"><img src="../img/tesla.jpg" alt="cars" class="gallery-list__img"/>
          <div class="gallery-list__overlay"></div>
          <div class="overlay__info"><i class="fa fa-eye i-eye"></i></div>
        </div>
        <div class="btn-buy"><a href="#" data-remodal-target="form-modal" class="gallery-list__btn">Заказать</a><span>30 долл/день</span></div>
      </div>
    </div>
    <!-- Gallery Modal-->
    <div data-remodal-id="gallery-modal" class="gallery-modal remodal">
      <div class="description-envelope"><a href="#" data-remodal-action="close" class="i-close"><i class="fa fa-close"></i></a>
        <div class="description-envelope__img-scale"><img src="/" alt="cars-modal" class="description-envelope__img"/></div>
        <div class="description-list">
          <h4 class="description-list__heading">Модель </h4>
          <p class="description-list__item">Кузов: Сидан</p>
          <p class="description-list__item">Объем двигателя: 1.5</p>
          <p class="description-list__item">Мощность: 180 л.с</p>
          <p class="description-list__item">Тип топлева: Бензин</p>
          <p class="description-list__item">КПП: Механическая</p>
          <p class="description-list__item">Количество мест: 4</p>
          <p class="description-list__item">Год выпуска: 1984</p>
        </div>
      </div>
      <div class="gallery-modal__info-sub">
        <ul class="info-sub-list">
          <li class="info-sub-list__item">От 1-3 суток</li>
          <li class="info-sub-list__item">4-9 суток</li>
          <li class="info-sub-list__item">10-25 суток</li>
          <li class="info-sub-list__item">от 26 суток</li>
        </ul>
        <ul class="info-sub-list">
          <li class="info-sub-list__item item-bg">34$</li>
          <li class="info-sub-list__item item-bg">31$</li>
          <li class="info-sub-list__item item-bg">27$</li>
          <li class="info-sub-list__item item-bg">24$</li>
        </ul>
        <ul class="info-sub-list">
          <li class="info-sub-list__item item-bg cl-picker">35$</li>
          <li class="info-sub-list__item item-bg cl-picker">39$</li>
          <li class="info-sub-list__item item-bg cl-picker">44$</li>
          <li class="info-sub-list__item item-bg cl-picker">49$</li>
        </ul>
        <p class="info-sub__text">Автомобиль, создан для тех, кто знает толк в сочетании комфорта, безопасности и надёжности. Opel GT занимает передовые позиции среди наиболее продаваемых автомобилей эконом класса. Хотите оценить все его достоинства? Отличный способ взять авто на прокат. Кроме того, взяв в прокат автомобиль Opel GT с расходом ниже семи литров в городском цикле, Вы забудете о заправочных станциях.</p>
      </div>
    </div>
    <!-- Form Modal-->
    <div data-remodal-id="form-modal" class="form-modal remodal">
      <div class="form-modal__envelope"><a href="#" data-remodal-action="close" class="i-close"><i class="fa fa-close"></i></a>
        <form action="mail.php" method="post" class="form-modal__form">
          <select name="city" class="form-modal__input">
            <option value="Cities" disabled="disabled" selected="selected">Выберите город</option>
            <option value="Батуми" class="form-modal__option">Батуми</option>
            <option value="Тбилиси" class="form-modal__option">Тбилиси</option>
          </select>
          <input type="text" name="date" placeholder="Введите дату" data-multiple-dates-separator=" - " required="required" id="date-range" class="form-modal__input"/>
          <input type="text" name="name" placeholder="Введите имя" required="required" class="form-modal__input"/>
          <input type="email" name="email" placeholder="Введите почту" required="required" class="form-modal__input"/>
          <input type="text" name="phone" placeholder="Введите телефон" required="required" class="form-modal__input masked_tel"/>
          <input type="submit" value="Отправить" class="form-modal__input btn-send"/>
        </form>
      </div>
    </div>
  </div>
</div>