
<div class="container">
  <div id="conditions" class="info_rent">
    <h2>условия проката</h2>
    <p><a href="#">Что нужно чтобы взять авто в прокат в Грузии</a></p>
    <ul>
      <li>1. Паспорт</li>
      <li>2. Водительское удостоверение с категорией «В»</li>
      <li>3. Минимальный возраст водителя 21 год</li>
      <li>4. Минимальный водительский стаж – 3 года. В случае отсутствия минимального стажа вождения увеличивается размер залога, могут быть также другие дополнительные условия по прокату.</li>
    </ul>
    <p><a href="#">Действительность водительского удостоверения</a></p>
    <ul>
      <li>На территории Грузии признаются водительские удостоверения, которые выполнены (или дублированы латинскими буквами) и в которых есть категория «В». Для остальных удостоверений необходимо наличие международного водительского в дополнение.</li>
      <li>Для справки, признаются:</li>
    </ul>
  </div>
</div>